'menu': [
  {
    'label': 'View'
    'submenu': [
      {
        'label': 'Toggle Command Palette'
        'command': 'command-palette:toggle'
      }
    ]
  }
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Command Palette',
        'submenu': [
          {
            'label': 'Toggle'
            'command': 'command-palette:toggle'
          }
        ]
      }
    ]
  }
]

'context-menu':
  '.command-palette .list-group': [
    {label: 'Copy Display Name', command: 'command-palette:copy-display-name-from-context-menu'}
    {label: 'Copy Command Name', command: 'command-palette:copy-command-name-from-context-menu'}
  ]
