'.platform-darwin, .platform-darwin .command-palette .editor':
  'cmd-shift-p': 'command-palette:toggle'

'.platform-win32, .platform-win32 .command-palette .editor':
  'ctrl-shift-p': 'command-palette:toggle'

'.platform-linux, .platform-linux .command-palette .editor':
  'ctrl-shift-p': 'command-palette:toggle'
